<p>
  <%= link_to 'New page', new_wiki_page_path %>
</p>

<% unless @wiki_pages.empty? %>
  <table class="data wiki_pages">
    <thead>
      <tr>
        <th>Title</th>
        <th>Id</th>
        <th>Last modified</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @wiki_pages.each do |wiki_page| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= h wiki_page.title %></td>
          <td><%= wiki_page.to_param %></td>
          <td><%= wiki_page.updated_at.to_s(:long) %></td>
          <td class="operations">
            <%= render :partial => 'operations', :locals => {:wiki_page => wiki_page} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
