<h2><%= h @wiki_page.title %></h2>

<div class="usercontent">
  <%= wiki_text @wiki_page.content %>
</div>

<div class="operations">
  <%= link_to 'Edit', edit_wiki_page_path(@wiki_page) %> |
  <%= button_to 'Delete', wiki_page_path(@wiki_page), :method => :delete %> |
  <%= link_to 'Index', wiki_pages_path %>
</div>
